#pregame-area {
    position:fixed !important;
    position:absolute;
    top:20%;
    right:35%;
    bottom:20%;
    left:35%;
    width:30%;
    height:60%;
    overflow:hidden;
    background-color:green;
    z-index: 1;
}

#username{
    display:block;
    margin-top:55%;
    margin-left:40%;
    height:5%;
    width:20%;
    text-align: center;
}

#submit {
    display:block;
    margin-left:45%;
    height:5%;
    width:10%;
    float:top;
}

#game-area {
    position:fixed;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width:100%;
    height = 100vw;
    overflow:hidden;
    z-index: 0;
}

#cvs {
    background: #D6E1E3; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(#D6E1E3, #464b69); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#D6E1E3, #464b69); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#D6E1E3, #464b69); /* For Firefox 3.6 to 15 */
    background: -radial-gradient(#D6E1E3, #464b69); /* Standard syntax */
    position: absolute;
    top: 0px;
    left: 0px;
}

#circle {
    background-color:red;
    position:absolute;
    top:50%;
    left:50%;
    width:40px;
    height:40px;
    border-radius: 50%;
    margin-top: -20px;
    margin-left: -20px;
}

#spell-area {
    position: absolute;
    right:35%;
    left:35%;
    bottom:0;
    height:10%;
    width:30%;
    background-color:orange;
}

#spell-1 {
    float:left;
    width:25%;
    height:100%;
    background-color:red;
}

#spell-2 {
    float:left;
    width:25%;
    height:100%;
    background-color:pink;
}

#spell-3 {
    float:left;
    width:25%;
    height:100%;
    background-color:green;
}

#spell-4 {
    float:left;
    width:25%;
    height:100%;
    background-color:yellow;
}
